<!DOCTYPE html>
<html>

<head>
  <title>CONFIRMATION PAGE</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

  <script defer src="../JavaScript/script.js"></script>
<body>

<p> test <p>

</body>

</html>