<!DOCTYPE html>
<html>
<head>
    <title> File Not Found </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

{{> header}}

<div class="registerbox">
    <div id="content">
        <h1 id="title"> ERROR 404 </h1>
        <p> Sorry, file not found. Click <a href="/guesthome">here</a> to redirect back to home page.</p>
    </div>
</div>
<div class="navbar">
    <img class="logo" src="/images/dlsu.png">
  <span class="welcome">DLSU Computer Laboratories</span>
  <a class="homepage" href="/guesthome">Home</a>
  <a class="login" href="/login">Login</a>
    <a class="register" href="/register">Register</a>
  </div>
</body>
</html>
