<!DOCTYPE html>
<html>

<head>
  <title>GUEST HOME PAGE</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <script defer src="/JavaScript/script.js"></script>
  <div class="reservebox">
  <span class="test"> <br> <div class="reservedetails"><span class="reservetext">COMPUTER LAB 1 <br> <br> Date: June 21, 2023 <br> Time: 9:00AM - 6:30PM <br> Location: G304B </span> </div> <br> <br> <button class="clean-button" onclick="guest_Register()">Reserve a seat!</button> <br> </span>
  <span class="test"> <br> <div class="reservedetails"><span class="reservetext">COMPUTER LAB 2 <br> <br> Date: June 21, 2023 <br> Time: 9:00AM - 6:30PM <br> Location: G304B </span> </div> <br> <br> <button class="clean-button" onclick="guest_Register()">Reserve a seat!</button> <br> </span>
  <span class="test"> <br> <div class="reservedetails"><span class="reservetext">COMPUTER LAB 3 <br> <br> Date: June 21, 2023 <br> Time: 9:00AM - 6:30PM <br> Location: G304B </span> </div> <br> <br> <button class="clean-button" onclick="guest_Register()">Reserve a seat!</button> <br> </span>
  </div>
  <div class="navbar">
    <img class="logo" src="/images/dlsu.png">
  <span class="welcome">DLSU Computer Laboratories</span>
  <a class="homepage" href="/guesthome">Home</a>
  <a class="login" href="/login">Login</a>
    <a class="register" href="/register">Register</a>
  </div>
</body>

</html>
