<!DOCTYPE html>
<html>

<head>
  <title>HOME PAGE</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

{{> header}}

  <script defer src="/JavaScript/script.js"></script>
  <div class="reservebox">
  <span class="test"> <br> <div class="reservedetails"><span class="reservetext">COMPUTER LAB 1 <br> <br> Date: June 21, 2023 <br> Time: 9:00AM - 6:30PM <br> Location: G304B </span> </div> <br> <br> <button class="clean-button" onclick="window.location.href='/studentres1'">Reserve a seat!</button> <br> </span>
  <span class="test"> <br> <div class="reservedetails"><span class="reservetext">COMPUTER LAB 2 <br> <br> Date: June 21, 2023 <br> Time: 9:00AM - 6:30PM <br> Location: G304B </span> </div> <br> <br> <button class="clean-button" onclick="window.location.href='/studentres2'">Reserve a seat!</button> <br> </span>
  <span class="test"> <br> <div class="reservedetails"><span class="reservetext">COMPUTER LAB 3 <br> <br> Date: June 21, 2023 <br> Time: 9:00AM - 6:30PM <br> Location: G304B </span> </div> <br> <br> <button class="clean-button" onclick="window.location.href='/studentres3'">Reserve a seat!</button> <br> </span>
  </div>
</body>

</html>
