<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <script defer src="/JavaScript/script.js"></script>
  <div class="registerbox">
  <div class="form-group">
  <form id="login" method="post">
        <label for="email">DLSU E-mail</label>
		<input type="email" id="email" name="email" class="field" placeholder="E-mail" required>
        <label for="pw">Password</label>
		<input type="password" id="pw" name="pw" class="field" placeholder="Password" required>
      
      <div class="login-link">
      <input type="submit" id="login-button" value="Login">
    </div>
    </form>
      <span class="register-link">
        <p>Don't have an account?</p>
        <a href="/register" class="register-button">Register</a>
      </span>
	</div>
   </div>
   
   <div class="navbar">
  <img class="logo" src="/images/dlsu.png">
  <span class="welcome">DLSU Computer Laboratories</span>
  <a class="homepage" href="/guesthome">Home</a>
  <a class="login" href="/login">Login</a>
  <a class="register" href="/register">Register</a>
</div>

</body>

</html>
