<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

{{> header}}

  <script defer src="/JavaScript/script.js"></script>
  <form>
  <div class="registerbox">
  <div id="content">
        <h1 id="title"> Welcome {{firstname}} {{lastname}}!</h1>
        <p> Go to home page <a href="/home">here</a></p>
    </div>
</div>
</div>

</body>

</html>
